/* Webfont: Shinmoon */@font-face {
    font-family: 'Shinmoon';
    src: url('Shinmoon.eot'); /* IE9 Compat Modes */
    src: url('Shinmoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Shinmoon.woff') format('woff'), /* Modern Browsers */
         url('Shinmoon.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

