/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms

 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import 'bootstrap-datetimepicker';

html {
  height: 100% !important;
}

body{
  display:table;
  width:100%;
  height:100%;
}

#header,#footer{
  display:table-row;
  width:100%;
  height:1px
}

#container{
  display:table-row;
  width:100%;
  height:100%;
}

.row {
  width:100%;
  // height:100%;
}

.col-sm-3 {
  height: 100%;
}

.space {
  height: 50px !important
}

 textarea.form-control-body {
   height: 100% !important;
   width: 100% !important;
 }

textarea {
  height: 100% !important;

}

#working_article_body {
  height: 100% !important;
}

.form-group-body {
    margin-bottom:5px !important;
    height: 100% !important;
}

 .alert {
   padding: 15px;
   margin-bottom: 0px !important;
   border: 1px solid transparent;
   border-radius: 4px;
 }

 .main{
   padding-top: 0px  !important;
   padding-bottom: 0px  !important;
 }

 .navbar-fixed-top2 {
   top: 50px !important;
   position: fixed !important;
   border-radius: 0 !important;
   right: 0;
   left: 0;
   z-index: 1000;
 }

 .btn-sm {
   margin: 8px !important;
   color: #fff !important;
 }

 .btn-success {
   margin: 8px !important;
   padding: 4px 10px !important;
   background-color: #5cb85c !important;
 }

 .btn-success:hover {
   background-color: #449d44 !important;
   border-color: #398439 !important;
 }

 .btn-danger {
   margin: 8px !important;
   padding: 4px 10px !important;
   background-color: #c9534f !important;
 }

 .btn-danger:hover {
   background-color: #c9302c !important;
   border-color: #ac2925 !important;
 }

 .btn-warning  {
   margin: 8px !important;
   padding: 4px 10px !important;
   background-color: #f0ad4e !important;
   border-color: #eea236 !important;
 }

 .btn-warning:hover {
   background-color: #ec971f !important;
   border-color: #d58512 !important;
 }

 .btn-primary  {
   margin: 8px !important;
   padding: 4px 10px !important;
   background-color: #337ab7 !important;
   border-color: #2e6da4 !important;
 }

 .btn-primary:hover {
   background-color: #286090 !important;
   border-color: #204d74 !important;
 }


 .navbar-default .navbar-nav > li > a {
   color: #fff !important;
 }

.col-sm-6 {
  padding: 2px !important;
}
